// bootstrap colors
$blue:    #007bff;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$teal:    #20c997;
$cyan:    #17a2b8;

// Custom colors
$purple: #6610f2;
$green: #2D96B2;
$green_ligt: #71C7C0;
$brown: #ECE1BB;
$yellow: #EFE53B;

$black: #000;
$white: #FAFAFA;